<mat-card class="container">

  <h2>Crear Especialista</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <!-- EMAIL -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="email">

      <mat-error *ngIf="form.get('email')?.hasError('required')">
        El correo es obligatorio
      </mat-error>

      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Correo inválido
      </mat-error>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">

      <mat-error *ngIf="form.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </mat-error>

      <mat-error *ngIf="form.get('password')?.hasError('minlength')">
        Mínimo 6 caracteres
      </mat-error>

      <mat-error *ngIf="form.get('password')?.hasError('pattern')">
        Debe incluir mayúscula, minúscula, número y símbolo
      </mat-error>
    </mat-form-field>

    <!-- BOTÓN -->
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="form.invalid || loading">

      {{ loading ? 'Guardando...' : 'Crear especialista' }}

    </button>

  </form>

</mat-card>